<?php{namespace}
use rg\TestCase;

/**
 * @copyright ResearchGate GmbH
 */
class {testClassName} extends TestCase {

    /**
     * @var {className}
     */
    private ${attributeName};

    protected function setUp() {
        $this->{attributeName} = new {className}();
    }
{methods}}
