<?php{namespace}
use rg\TestCase;
{imports}
/**
 * @copyright ResearchGate GmbH
 */
class {testClassName} extends TestCase {
{stubAttributes}
    /**
     * @var {className}
     */
    private ${attributeName};

    protected function setUp() {
{stubCreation}
        $this->{attributeName} = new {className}({constructorParameters});
    }
{methods}}
