<?php{namespace}
use rg\TestCase;

/**
 * @copyright ResearchGate GmbH
 */
class {testClassName} extends TestCase {

    /**
     * @var {className}
     */
    private $object;

    protected function setUp() {
        $this->object = new {className}();
    }
{methods}}
